<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div *ngIf="piatti">
      <div *ngFor="let piatto of piatti">
        {{piatto.titolo}}
      </div>
    </div>
  </div>
  <div [hidden] ="piatti || piattierrMsg">
    Caricamento in corso
  </div>
</ion-content>