<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button menu="sideMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Apparecchio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Apparecchio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div [hidden] ="piatti || piattierrMsg">
      <div class="sk-cube-grid">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
      </div>
    </div>
    {{piattierrMsg}}
    <div class="ion-padding">
         <div *ngIf="piatti">
      <ion-list>
        <ion-item *ngFor="let piatto of piatti">
          <ion-avatar slot="start">
            <img src="../../assets/images/{{piatto.image}}" alt="">
          </ion-avatar>
          <ion-label text-wrap="true">{{piatto.titolo}} <p>{{piatto.descrizione}}</p></ion-label>
        </ion-item>
      </ion-list>
    </div> 
    </div>
  </div>
</ion-content>

