<ion-app>
  <ion-split-pane when="md" contentId="sideMenu">
  <ion-menu contentId="sideMenu" menuId="sideMenu" side="start" type="push">
    <ion-header no-border>
      <ion-toolbar color="dark">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      Awesome pizza content
    </ion-content>
    <ion-footer>
      Lucio Ticali - AppAccademy
    </ion-footer>
  </ion-menu>
  <ion-router-outlet main id="sideMenu"></ion-router-outlet>
</ion-split-pane>
</ion-app>
