<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="onClick()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Commento Pizza {{titolo}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <ion-item>
            <ion-label position="floating">Autore</ion-label>
            <ion-input type="text" name="autore" placeholder="Autore..." ngModel required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Gradimento</ion-label>
            <ion-range name="votazione" min="0" max="5" pin="true" snaps="true" step="1" ticks="true" value="0" color="primary" ngModel required>
            </ion-range>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Commento</ion-label>
            <ion-textarea name="commento" placeholder="Commento..." ngModel required></ion-textarea>
        </ion-item>
        <ion-button type="submit" [disabled]="form.invalid" expand="block" fill="clear" shape="round">
            Invia
        </ion-button>
    </form>
</ion-content>
